<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{> header}}
    <title>{{ titulo }}</title>
</head>

<body class="hold-transition sidebar-mini">
    <div class="wrapper">

       {{> navbar}}

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Devolución</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="/home">{{titulo}}</a></li>
                                <li class="breadcrumb-item active">{{ consecutivo }}</li>
                            </ol>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="search-bar">
                    <input type="text" placeholder="Buscar número de factura">
                    <button type="submit" class="btn btn-primary text-nowrap">Buscar</button>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="cliente">Cliente</label>
                                <input type="number" class="form-control" id="totalPedido" style="width: 100%;" readonly
                                    placeholder="Pepelería Colores" />
                            </div>
                            <div class="texto5" id="texto1"></div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="fecha_venta">Fecha venta</label>
                                <input type="number" class="form-control" id="totalPedido" style="width: 100%;"
                                    readonly placeholder="26/06/2023" />
                            </div>
                            <div class="texto5" id="texto2"></div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="form-group">
                                    <label for="tipo_pago">Tipo de pago</label>
                                    <input type="number" class="form-control" id="totalPedido" style="width: 100%;"
                                        readonly placeholder="Crédito" />
                                </div>
                            </div>
                            <div class="texto5" id="texto4"></div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="total_venta">Total venta</label>
                                <input type="number" class="form-control" id="totalPedido" style="width: 100%;"
                                    readonly placeholder="60000" />
                            </div>
                            <div class="texto5" id="texto3"></div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="empleado">Producto <span style="color:red">*</span></label>
                                <select type="text" class="form-control" id="empleado"
                                    placeholder="Seleccione el empleado" style="width: 100%;">
                                    <option value="">Seleccione el producto agregar a la venta
                                    </option>
                                    <option value="labial rojo">Labial rojo</option>
                                    <option value="rubor rocita">Rubor pasión</option>
                                    <option value="labial rosa">Labial rosa</option>
                                </select>
                            </div>
                            <div class="texto5" id="texto2"></div>
                        </div>
                        <div class="col-md-6">
                            <label for="cantidad">Cantidad <span style="color:red">*</span></label>
                            <div class="form-group" style="display:flex">
                                <input type="number" class="form-control" id="cantidad"
                                    placeholder="Ingrese la cantidad de productos" />
                                <div class="col-md-6">
                                    <button id="aggProd" class="btn btn-success" style="width: 102.5%"
                                        onclick="agregarProducto()">Agregar
                                        producto</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Código producto</th>
                                    <th>Producto</th>
                                    <th>Cantidad</th>
                                    <th>Precio unidad</th>
                                    <th>Precio total</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Labial</td>
                                    <td>10</td>
                                    <td>6000</td>
                                    <td>60000</td>
                                    <td>
                                        <button class='btn btn-danger' onclick="eliminarPedido('{{_id}}')"
                                            title="Devolver productos">
                                            <i class="fas fa-arrow-left"></i> <!-- Flecha hacia la izquierda -->
                                        </button>
                                    </td>
                                </tr>

                                <!-- Agrega más filas según sea necesario -->
                            </tbody>
                        </table>
                    </div>
                    <section>
                        <div class="row">
                            <div class="col-md-2" style="display: flex; justify-content: flex-end;">
                                <button class="sendbtn btn btn-success ml-2" id="guardar">Guardar</button>


                                <button class="sendbtn btn btn-secondary ml-2" id="cancelar">Regresar</button>
                            </div>
                        </div>
                    </section>
                </div>
            </section>
            <!-- /.content -->
        </div>

        <!-- /.content-wrapper -->
        {{> footer}}

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->

    <!-- jQuery -->
    <script src="/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- DataTables  & Plugins -->
    <script src="/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="/plugins/jszip/jszip.min.js"></script>
    <script src="/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <script src="https://kit.fontawesome.com/4de2284caa.js" crossorigin="anonymous"></script>
      <script src="../../js/funcionesDevoluciones.js"></script>
    
    <!-- AdminLTE App -->
    <script src="/js/adminlte.min.js"></script>

    <!-- Page specific script -->
    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
        document.getElementById('cancelar').addEventListener('click', function () {
            window.location.href = '/home'; // Reemplaza '/compras' con la URL de la lista de compras
        });

            document.getElementById('guardar').addEventListener('click', function () {
            window.location.href = '/ventas'; // Reemplaza '/compras' con la URL de la lista de compras
        });
    </script>
</body>

</html>
